<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROYECTO_FINAL_DES_SIS_I.Properties.Settings.ProyectoInventarioConnectionString"
            connectionString="Data Source=DESKTOP-HA2D645;Initial Catalog=ProyectoInventario;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>