<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="34.0.2" targetFramework="net48" />
  <package id="HandyControls" version="3.4.4" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.11.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.DocIO.Wpf" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Gauge.WPF" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Grid.WPF" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.Wpf" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Linq.Base" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.OfficeChart.Base" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Pdf.AspNet" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Presentation.AspNet" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Presentation.Wpf" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.SfMaps.WPF" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.2.0.36" targetFramework="net48" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net48" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net48" />
</packages>